@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

$font-heading:'Roboto Mono', monospace;
$font-text:'Dosis', sans-serif;

$color-black:#000;

$gutter-vertical:8rem; 
$gutter-horizontal:6rem;
$grid-width:114rem;  