.u-margin-bottom-large{
    margin-bottom: 1.5rem;
}

.u-bold{
    font-family: $font-heading;
    font-weight: 500;
    margin-right: 1.5rem;
} 

.u-margin-center{
    text-align: center;
}

.u-center-align{
    text-align: center;
}